:root{
    --color-primary: #2D3250;
    --color-primary-dark: #22263E;
    --color-primary-light: #464E7F;
    --color-secondary: #B1BBFC;
    --color-secondary-dark: #7E87C0;
    --color-green: #A7CC79;
    --color-red: #CE6A6A;
    --color-yellow: #E8D956;
    --color-text: #fff;
}