@import "/src/assets/style/variables.css";

.menu {
  position: sticky;
  top: 0;
  z-index: 99999;
  
  background-color: var(--color-primary-light);
  border-bottom: 1px solid black;
  height: 65px;
  overflow: clip;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  .menu__title {
    box-sizing: border-box;
    background-color: var(--color-primary-light);
    padding: 20px 20px;
    font-size: 24px;
    color: var(--color-text);

    border-right: 5px solid var(--color-primary-dark);
    border-radius: 35px;
  }
  .menu__item {
    box-sizing: border-box;
    background-color: var(--color-primary-light);
    color: var(--color-text);
    padding: 20px 15px;
    font-size: 20px;
    transition: all 0.5s;
    &:hover{
      background-color: var(--color-secondary-dark);
      
    }
  }
}
