@import "/src/assets/style/variables.css";

.gameCard {
    background-color: var( --color-primary-light);
    color: var(--color-text);
    font-size: 20px;
    padding: 20px 10px;
    border: 2px solid var(--color-primary-dark);
    border-radius: 5px;
    width: 285px;
    height: fit-content;

    justify-self: center;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    box-shadow:  0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    &.gameCard-0, &.gameCard-2{
        justify-self: end;
    }
    &.gameCard-1, &.gameCard-3{
        justify-self: start;
    }
    .gameCard__title {
        text-align: center;
        background-color: var(--color-secondary);
        color: var(--color-primary-dark);
        font-size: 20px;
        width: 110%;
    }
    .gameCard__result{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .gameCard__score {
        color: var(--color-text);
        font-size: 20px;
    }

    .fi {
        width: 40px;
        height: 40px;
        border-radius: 10px;
    }
}